.u-section-1 {
  background-image: url("images/dcsmin.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 730px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 563px;
  margin: 48px auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 295px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 120px;
  width: 120px;
  background-image: none;
  color: rgb(185, 193, 204) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 19px 4px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 295px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 120px;
  width: 120px;
  background-image: none;
  color: rgb(185, 193, 204) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 19px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 310px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 120px;
  width: 120px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 19px 2px 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 310px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  height: 120px;
  width: 120px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 19px 2px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 21px auto 0 0;
  padding: 10px 57px 10px 55px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: -52px auto 31px 292px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 289px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 289px;
  }

  .u-section-1 .u-icon-3 {
    color: rgb(185, 193, 204) !important;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-icon-4 {
    color: rgb(185, 193, 204) !important;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 92px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    background-position: 81.63% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 219px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 560px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 347px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 347px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 325px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 325px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    font-size: 1.5rem;
    margin-left: -2px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }
}