.u-section-1 .u-sheet-1 {
  min-height: 509px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 852px;
  margin: 44px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 497px;
}

.u-section-1 .u-container-layout-1 {
  padding: 70px 0 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 400;
  margin: -28px -143px 0 0;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  font-size: 1.25rem;
  margin: 36px -16px 0 16px;
}

.u-section-1 .u-text-3 {
  line-height: 2;
  font-size: 1.25rem;
  margin: 0 0 0 16px;
}

.u-section-1 .u-text-4 {
  line-height: 2;
  font-size: 1.25rem;
  margin: 0 -16px 0 16px;
}

.u-section-1 .u-text-5 {
  line-height: 2;
  font-size: 1.25rem;
  margin: 0 -16px 0 16px;
}

.u-section-1 .u-text-6 {
  line-height: 2;
  font-size: 1.875rem;
  margin: 77px -16px 0 16px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 464px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-shape-1 {
  width: 442px;
  height: 408px;
  margin: 0 -32px 0 auto;
}

.u-section-1 .u-image-1 {
  height: 310px;
  width: 310px;
  background-image: url("images/d3da7179ae24d8a7086e64380c801adbf5228fb20e5d15e3f60dd8a5ee0981c57a73f144b00d373b93ec1a3d4ab14626dcef97dde391d76e215afb_1280.jpg");
  background-position: 50% 50%;
  margin: -378px 16px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-top: -530px;
    margin-bottom: 1px;
  }

  .u-section-1 .u-text-1 {
    font-size: 5rem;
    width: auto;
    margin-right: -164px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 60px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 197px;
    margin-right: -16px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: -296px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: 11px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 951px;
  }

  .u-section-1 .u-shape-1 {
    width: 509px;
    height: 467px;
    margin-top: 452px;
    margin-right: -39px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -900px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -435px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-right: -121px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 919px;
  }

  .u-section-1 .u-shape-1 {
    width: 383px;
    height: 373px;
    margin-top: 514px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 318px;
    width: 318px;
    margin-top: -814px;
    margin-right: 7px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 746px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -1245px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1882px;
  }

  .u-section-1 .u-shape-1 {
    width: 593px;
    height: 543px;
    margin-top: 1307px;
    margin-left: -26px;
    margin-right: -26px;
  }

  .u-section-1 .u-image-1 {
    height: 511px;
    width: 511px;
    margin-top: -1817px;
    margin-right: 29px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -919px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1375px;
  }

  .u-section-1 .u-shape-1 {
    width: 386px;
    height: 365px;
    margin-top: 978px;
    margin-left: -23px;
    margin-right: -23px;
  }

  .u-section-1 .u-image-1 {
    height: 330px;
    width: 330px;
    margin-top: -1310px;
    margin-right: 7px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 570px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 906px;
  margin: 0 80px 60px auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 500px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: 34px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 397px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 596px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 375px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 642px;
}

.u-section-3 .u-products-1 {
  min-height: 493px;
  width: 901px;
  height: auto;
  margin: 0 82px 60px auto;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 20px);
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  grid-gap: 30px 30px;
  grid-auto-rows: 100%;
}

.u-section-3 .u-repeater-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-image-1 {
  height: 233px;
  width: 241px;
  margin: 20px -13px 0 -12px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-size: 1.25rem;
  background-image: none;
}

.u-section-3 .u-repeater-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  margin: 0;
}

.u-section-3 .u-image-2 {
  height: 233px;
  width: 241px;
  margin: 20px -13px 0 -12px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  text-transform: uppercase;
  font-size: 1.25rem;
  background-image: none;
}

.u-section-3 .u-repeater-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-7 {
  margin: 0;
}

.u-section-3 .u-image-3 {
  height: 233px;
  width: 241px;
  margin: 20px -13px 0 -12px;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-3 {
  border-style: solid;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-size: 1.25rem;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 467px;
  }

  .u-section-3 .u-products-1 {
    margin-right: 39px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 20px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
  }

  .u-section-3 .u-image-1 {
    background-position: 50% 50%;
    height: 184px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-2 {
    background-position: 50% 50%;
    height: 184px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-btn-2 {
    margin-bottom: 0;
  }

  .u-section-3 .u-image-3 {
    background-position: 50% 50%;
    height: 184px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1074px;
  }

  .u-section-3 .u-products-1 {
    min-height: 1181px;
    width: 720px;
    margin-right: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 15px);
    grid-template-columns: repeat(2, calc(50% - 15px));
    grid-auto-rows: calc(50% - 15px);
  }

  .u-section-3 .u-image-1 {
    height: 278px;
    width: 278px;
    margin-left: -12px;
    margin-right: -13px;
  }

  .u-section-3 .u-image-2 {
    height: 278px;
    width: 278px;
    margin-left: -12px;
    margin-right: -13px;
  }

  .u-section-3 .u-image-3 {
    height: 278px;
    width: 278px;
    margin-left: -12px;
    margin-right: -13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-products-1 {
    min-height: 1075px;
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: calc(33.33% - 20px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 184px;
    width: 184px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 184px;
    width: 184px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    height: 184px;
    width: 184px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-products-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}